<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/main-style.css">
    <title>Transaction create</title>
</head>
<body>
    <header>
        <a class="name" href="/">Blockchain</a>
        <ul class="navigation-bar">
            <li><a class="login" href="/profile">Profile</a></li>
        </ul>
    </header>
    <div class="login-container">
        <p class="successfylly">{{ successfylly }}</p><p class="error">{{ error }}</p>
        <form method="POST">
            <p class="sub-name">Write the name of the recipient:</p>
            <input type="text" name="username">
            <p class="sub-name">Write the amount of dollars you want to send:</p>
            <input type="text" name="amount">
            <input type="submit" value="Send" class="login">
        </form>
    </div>
</body>
</html>